<section>
  <h1>Welcome to delete by barcode</h1>
</section>
<section>
  <form #f="ngForm">
    <mat-form-field id="barcode" appearance="standard">
      <mat-label>Barcode</mat-label>
      <input matInput name="barcode" [(ngModel)]="barcode"  (keydown.enter)="onDelete()" [disabled]="loading" #barcodeVar/>
    </mat-form-field>
    <button mat-stroked-button color="primary" type="button" (click)="onDelete()" [disabled]="loading">Delete</button>
    <mat-form-field appearance="standard" id="holdings">
      <mat-label>Holdings</mat-label>
      <mat-select name="holdings" [(ngModel)]="holdings">
        <mat-option *ngFor="let item of ['retain', 'delete', 'suppress']" [value]="item">{{
          item | titlecase
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox name="override" labelPosition="before" [(ngModel)]="override"
      >Override</mat-checkbox
    >
  </form>
</section>
<section>
  <hr />
  <a [routerLink]="['help']">How to use ?</a>
</section>
<section *ngIf="barcodesDeleted.length>0">
  <h2 style="color:green">Barcodes Deleted</h2>
  <ul style="padding: 1px; list-style-type: none;">
  <div *ngFor="let barcode of barcodesDeleted">
    <li>{{barcode}}</li>
    <br>
  </div>
  </ul>
</section>
